@mixin vars {
    --color-base: white;
    --color-splash: #234ef6;

    --layout-width: 1000px;
    --layout-padding: 20px;
    --layout-slant: -30deg;
}

@mixin boxConstraints {
    max-width: var(--layout-width);
    width: 100%;
    margin: 0 auto;
}
