@import "../globals";

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > * {
        flex-shrink: 0;
    }

    .topBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $layoutNavHeight;
        background-color: var(--color-background);
        z-index: 1000;

        @include floatingBoxShadow;
        @include glass;

        &.transparent {
            background-color: transparent;
            backdrop-filter: blur(0);
            box-shadow: none;
        }

        > nav {
            max-width: $layoutWidth;
            width: 100%;
            display: flex;
            margin: 0 auto;
            height: $layoutNavHeight;

            .logo {
                margin-right: auto;
                font-size: 1.2em;
            }

            a {
                padding: $layoutPadding;
                border-radius: $layoutBorderRadius;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;
                transition: color 0.25s;
                position: relative;
                @include respectReducedMotion;

                &:hover,
                &:focus {
                    color: var(--color-primary-lighter);
                }
            }
        }
    }

    .content {
        flex-grow: 1;
        padding-top: $layoutNavHeight;
    }

    .footer {
        padding: $layoutPadding;
        background-color: var(--color-footer-background);
        color: var(--color-footer-foreground);
        text-align: center;
    }
}
